.category-header h2 {
  font-size: 4.5rem;
  background-color: rgba(139, 131, 116, 0.6);
  padding: 15px 30px;
  border-radius: 10px;
  text-transform: capitalize;
}

.product-info h3 {
  font-size: 2rem;
  color: var(--text-heading);
  font-weight: bold;
  text-transform: capitalize;
}

.product-info p {
  font-size: 1.3rem;
  color: var(--light-black);
  margin-bottom: 6px;
  text-transform: capitalize;
}
.footer {
  text-align: center;
  background-color: var(--maincolor);
  color: var(--white);
  padding: 20px;
  font-size: 1.3rem;
}
@media (max-width: 992px){
  .product-info p {
    font-size: 1rem;
  }
  .product-info h3 {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  .product-info p {
    font-size: .7rem;
  }
  .product-info h3 {
    font-size: 1.5rem;
  }
}