@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --maincolor: #8B9178;
  --white: #fff;
  --black: #292930;
  --text: #5a5a5a;
  --input-bg: #f3f3f3;
  --btn-bg: #6B705C;
  --btn-hover: #585f4c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: var(--black);
}

body {
  background: linear-gradient(135deg, #fdfbf9, #e7e4dd);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 30px;
}

.login-container {
  max-width: 900px;
  width: 100%;
  background: var(--white);
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  height: 100vh; 
  margin-top: 5vh; 
  flex-direction: row;
}

.login-box {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: auto;
} 

.form-side {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-side form {
  transform: scale(0.95);
  transform-origin: top left;
}

.image-side {
  flex: 1;
  background-color: var(--maincolor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  position: relative;
}

.image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
  filter: brightness(0.95) contrast(1.05);
  transition: all 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
}

.close-btn a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px 8px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.close-btn a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 25px; 
  margin-bottom: 1rem;
}

.logo-top {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.logo-text {
  font-family: "Palatino Linotype", serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #6b705c;
}

.logo-text i {
  font-size: 0.6em;
  transform: translateY(-0.2em);
}

.tagline {
  font-size: .5rem;
  color: var(--btn);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.input-group input:focus {
  border: .5px solid var(--maincolor);
  outline: none;
}

.welcome-msg {
  font-size: 2.75rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Palatino Linotype", serif;
  border-bottom: .1px solid #6b705c;
  padding-bottom: .5rem;
}

.subtext {
  font-size: .8rem;
  color: var(--text);
  margin-bottom: 20px;
  text-align: center;
}

.subtext span {
  font-weight: bold;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 1rem;
  color: var(--black);
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  background-color: var(--input-bg);
  font-size: 1rem;
  margin-bottom: 15px;
}

.login-btn {
  background-color: var(--btn-bg);
  color: var(--white);
  padding: 14px 0;
  border: none;
  border-radius: 50rem;
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  z-index: 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 0.5px;
}

.login-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--black);
  z-index: -1;
  border-radius: 5rem;
  transition: 0.2s ease-in-out;
}

.login-btn:hover::before {
  width: 100%;
}

.login-btn:hover {
  color: var(--white);
}

.form-side a {
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  color: #7e7d7b;
  display: block;
  margin-bottom: 20px;
}

.form-side a:hover {
  color: var(--black);
}

.role-select {
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.role-label {
  font-size: .75rem;
  color: var(--black);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.role-label:hover {
  color: var(--btn-bg);
}

.radio {
  accent-color: var(--maincolor);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
   html, body {
    height: 100%;
  }

  .login-container {
    flex-direction: column;
    height: auto;
    margin: 0 !important;
    border-radius: 0 !important;
    margin-top: 0 !important;
  }

  .login-box {
    flex-direction: column;
  }

  .image-side {
    height: 220px;
    width: 100%;
    flex: none;
    border-radius: 0 0 70px 70px;
    order: -1;
    margin: 0 !important;
    padding: 0 !important;
  }

  .image-side img {
    object-position: center 20%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 !important;
  }

  .form-side {
    padding: 25px;
  }

  .form-side form,
  .input-group input,
  .login-btn {
    width: 100%;
  }

  .welcome-msg {
    font-size: 2rem;
  }

  .subtext {
    margin-bottom: 20px;
  }

  .logo {
    align-items: center;
    text-align: center;
  }

  .form-side a {
    margin-top: 5px;
  }

  body {
  background: none !important;
  margin: 0;
  padding: 0 !important;
  }
}

@media (max-width: 480px) {
  .welcome-msg {
    font-size: 1.75rem;
  }

  .login-btn {
    font-size: 1rem;
  }

  .logo-text {
  font-size: 1.3rem;
  }

  .input-group label,
  .role-label {
    font-size: 0.85rem;
  }
} 






